.element__name {
    grid-area: name;
    display: grid;
    grid-template-columns: fit-content(195px) 1fr;
    grid-template-rows: 24px;
    grid-template-areas: 
    "title like";
    gap: 0;
    margin: auto 15px auto 21px;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
}