.element__like {
    grid-area: like;
    background-image: url(../../../images/elements/like.svg);
    max-width: 22px;
    width: 100%;
    max-height: 19px;
    height: 100%;
    margin: auto 0 auto auto;
    opacity: 1;
    transition: opacity .1s linear;
    object-fit: fill;
    border: none;
    background-color: #FFF;
    background-repeat: no-repeat;
}

.element__like:hover {
    opacity: .5;
    cursor: pointer;
}
