.popup__close {
    position: absolute;
    background-image: url(../../../images/popup/Close\ Icon.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    z-index: 3;
    top: -40px;
    right: -40px;
    padding: 0;
    opacity: 1;
    transition: opacity .1s linear;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: cover;
        z-index: 3;
        top: -36px;
        right: 0;
    }
}