.profile__info{
    display: grid;
    align-self: center;
    grid-template-columns: 294px 24px;
    grid-template-rows: 40px 18px;
    grid-area: info;
    grid-template-areas:
    "name edit-button"
    "status status";
    gap: 18px;
}

@media screen and (max-width: 680px) {
    .profile__info {
        grid-template-columns: 236px 36px;
        grid-template-rows: 26px 14px;
    /*    line-height: 27px;
        font-size: 33px;
        font-weight: 500;*/
        column-gap: 10px;
        row-gap: 14px;
        margin: 26px 38px 36px;
    }
}