.popup__title {
    max-width: 330px;
    width: 100%;
    margin: 34px 64px 48px 36px;
    color: #000000;
    padding: 0;
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
}

@media screen and (max-width: 680px) {
    .popup__title {
        width: 238px;
        margin: 25px 22px 75px;
        line-height: 22px;
        font-size: 18px;
    }
}